<footer class="custom-footer">
    <div class="footer-content">
        <span class="footer-text">
            &copy; @DateTime.Now.Year Alejandro and Felipe.
        </span>
        <div class="footer-tagline">
            <small class="footer-small-text">
                Developed for the Software Engineering Course. UCR.
            </small>
        </div>
    </div>
</footer>